{% extends 'base.html' %}
{% block content %}
    <header>
        <h2><a href="{% url 'admin' %}">ChatRoom</a></h2>
        <div>
            <h2><a href="{% url 'create' %}">Create</a></h2>
            <h2><a href="{% url 'view' %}">View</a></h2>
        </div>
        <a class='forthback' href="{% url 'logout' %}">Logout {{request.user}}</a>
    </header>
        <div class='instruction_2'>
            <form action="" method='POST'>
                {% csrf_token %}
                <div class='create'>
                    <p>Channel Name:</p>
                    {{form.name}}
                    <input class="create_btn" type="submit" value="Create">
                </div>
            </form>
        </div>
{% endblock content %}