{% extends 'base.html' %}
{% block content %}
{% load static %}
    <header>
        <h2><a href="{% url 'admin' %}">ChatRoom</a></h2>
        <div>
            <h2><a href="{% url 'create' %}">Create</a></h2>
            <h2><a href="{% url 'view' %}">View</a></h2>
        </div>
        <a class='forthback' href="{% url 'logout' %}">Logout {{request.user}}</a>
    </header>
        <div class='instruction_2'>
            <div class='text_channel'>
                {% for message in messages %}
                    <div class='avatar'>
                        <p class='avatar_user'>{{message.user}}</p>
                        <p class='user_message'>{{message.message}}</p>
                        <a href="{% url 'delete_message' message.id %}">
                            <div class='del_mes'>
                                <img src="{% static 'trashcan.png' %}" alt="PNG Trash">
                            </div>
                        </a>
                        <a href="{% url 'update_msg' message.id %}">
                            <div class='update_mes'>
                                <img src="{% static 'update.png' %}" alt="PNG Dots">
                            </div>
                        </a>
                    </div>
                {% endfor %}
            </div>
            <form action="" method='POST'>
                {% csrf_token %}

                <div class='message_form'> <a href="{% url 'add' id %}"><p class='add_user'>+User</p></a>{{form.message}} <input class='enter' type="submit" value='Enter'>  </div>

            </form>
            
        </div>      
{% endblock content %}